<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="tests">
    <listeners>
        <listener class-name="com.TAE.reports.ExtentReporterNG" />
    </listeners>
    <test name="TAEpractical">
                <classes>
            <class name="com.TAE.tests.HomePageTest"/>
        </classes>
    </test> <!-- TAEpractical -->
</suite> <!-- tests -->